@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    /* black */
    --foreground: 0 0% 98%;
    --card: 0 0% 7%;
    /* lighter than black */
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%;
    /* blue-500 */
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 91.2% 59.8%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased selection:bg-primary/30;
    min-height: 100vh;
  }
}

@layer utilities {
  .glass {
    @apply bg-card backdrop-blur-xl border border-white/10;
  }

  .glass-panel {
    @apply bg-transparent backdrop-blur-md border border-white/5;
  }

  .glass-input {
    @apply bg-transparent border border-white/20 text-white placeholder:text-white/40 focus-visible:ring-primary focus-visible:border-primary transition-all rounded-md shadow-none;
  }
}